.svg {
    display: flex;
    flex-direction: row;
    align-items: center;

    path {
        stroke: var(--text-color);
        transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
    }

    &.on {
        path {
            stroke: var(--text-color);
        }
    }
}