.playButton {
    background-color: transparent;
    border: 0.1px solid color-mix(in srgb, var(--text-color) 30%, transparent);
    border-radius: 0.4rem;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
}