// _position.scss
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
}



@for $i from 0 through 1000 {

    // SPACING
    .t-#{$i} {
        top: #{$i}rem;
    }

    .b-#{$i} {
        bottom: #{$i}rem;
    }

    .l-#{$i} {
        left: #{$i}rem;
    }

    .r-#{$i} {
        right: #{$i}rem;
    }


    // MARGIN
    .mt-#{$i} {
        margin-top: #{$i}rem;
    }

    .mb-#{$i} {
        margin-bottom: #{$i}rem;
    }

    .ml-#{$i} {
        margin-left: #{$i}rem;
    }

    .mr-#{$i} {
        margin-right: #{$i}rem;
    }

    .m-#{$i} {
        margin: #{$i}rem;
    }

    .mx-#{$i} {
        margin-left: #{$i}rem;
        margin-right: #{$i}rem;
    }

    .my-#{$i} {
        margin-top: #{$i}rem;
        margin-bottom: #{$i}rem;
    }


    // PADDING
    .pt-#{$i} {
        padding-top: #{$i}rem;
    }

    .pb-#{$i} {
        padding-bottom: #{$i}rem;
    }

    .pl-#{$i} {
        padding-left: #{$i}rem;
    }

    .pr-#{$i} {
        padding-right: #{$i}rem;
    }

    .p-#{$i} {
        padding: #{$i}rem;
    }

    .px-#{$i} {
        padding-left: #{$i}rem;
        padding-right: #{$i}rem;
    }

    .py-#{$i} {
        padding-top: #{$i}rem;
        padding-bottom: #{$i}rem;
    }
}

@media (min-width: 768px) {
    @for $i from 0 through 1000 {

        // SPACING
        .t-md-#{$i} {
            top: #{$i}rem;
        }

        .b-md-#{$i} {
            bottom: #{$i}rem;
        }

        .l-md-#{$i} {
            left: #{$i}rem;
        }

        .r-md-#{$i} {
            right: #{$i}rem;
        }


        // MARGIN
        .mt-md-#{$i} {
            margin-top: #{$i}rem;
        }

        .mb-md-#{$i} {
            margin-bottom: #{$i}rem;
        }

        .ml-md-#{$i} {
            margin-left: #{$i}rem;
        }

        .mr-md-#{$i} {
            margin-right: #{$i}rem;
        }

        .m-md-#{$i} {
            margin: #{$i}rem;
        }

        .mx-md-#{$i} {
            margin-left: #{$i}rem;
            margin-right: #{$i}rem;
        }

        .my-md-#{$i} {
            margin-top: #{$i}rem;
            margin-bottom: #{$i}rem;
        }


        // PADDING
        .pt-md-#{$i} {
            padding-top: #{$i}rem;
        }

        .pb-md-#{$i} {
            padding-bottom: #{$i}rem;
        }

        .pl-md-#{$i} {
            padding-left: #{$i}rem;
        }

        .pr-md-#{$i} {
            padding-right: #{$i}rem;
        }

        .p-md-#{$i} {
            padding: #{$i}rem;
        }

        .px-md-#{$i} {
            padding-left: #{$i}rem;
            padding-right: #{$i}rem;
        }

        .py-md-#{$i} {
            padding-top: #{$i}rem;
            padding-bottom: #{$i}rem;
        }
    }
}

@media (min-width: 1024px) {
    @for $i from 0 through 1000 {

        // SPACING
        .t-lg-#{$i} {
            top: #{$i}rem;
        }

        .b-lg-#{$i} {
            bottom: #{$i}rem;
        }

        .l-lg-#{$i} {
            left: #{$i}rem;
        }

        .r-lg-#{$i} {
            right: #{$i}rem;
        }


        // MARGIN
        .mt-lg-#{$i} {
            margin-top: #{$i}rem;
        }

        .mb-lg-#{$i} {
            margin-bottom: #{$i}rem;
        }

        .ml-lg-#{$i} {
            margin-left: #{$i}rem;
        }

        .mr-lg-#{$i} {
            margin-right: #{$i}rem;
        }

        .m-lg-#{$i} {
            margin: #{$i}rem;
        }

        .mx-lg-#{$i} {
            margin-left: #{$i}rem;
            margin-right: #{$i}rem;
        }

        .my-lg-#{$i} {
            margin-top: #{$i}rem;
            margin-bottom: #{$i}rem;
        }


        // PADDING
        .pt-lg-#{$i} {
            padding-top: #{$i}rem;
        }

        .pb-lg-#{$i} {
            padding-bottom: #{$i}rem;
        }

        .pl-lg-#{$i} {
            padding-left: #{$i}rem;
        }

        .pr-lg-#{$i} {
            padding-right: #{$i}rem;
        }

        .p-lg-#{$i} {
            padding: #{$i}rem;
        }

        .px-lg-#{$i} {
            padding-left: #{$i}rem;
            padding-right: #{$i}rem;
        }

        .py-lg-#{$i} {
            padding-top: #{$i}rem;
            padding-bottom: #{$i}rem;
        }
    }
}

.top-auto {
    top: auto;
}

.right-auto {
    right: auto;
}

.bottom-auto {
    bottom: auto;
}

.left-auto {
    left: auto;
}





.z-0 {
    z-index: 0;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.z-30 {
    z-index: 30;
}

.z-40 {
    z-index: 40;
}

.z-50 {
    z-index: 50;
}





@for $i from 0 through 1000 {
    .h-#{$i} {
        height: #{$i}dvh;
    }

    .w-#{$i} {
        width: #{$i}dvw;
    }

    .hv-#{$i} {
        height: #{$i}dvh;
    }

    .wv-#{$i} {
        width: #{$i}dvw;
    }

    .hp-#{$i} {
        height: calc(1% * #{$i});
    }

    .wp-#{$i} {
        width: calc(1% * #{$i});
    }
}