.statsContainer {
    display: none;
    padding: 8px 16px;
    color: var(--bg-color-dark);
}

.statsContainer.show {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: min-content;
    width: max-content;
    background-color: color-mix(in srgb, var(--text-color) 75%, transparent);
}