@use './design-system/transitions' as *;
@use './design-system/buttons' as *;
@use './design-system/stats' as *;
@use './design-system/text' as *;
@use './design-system/flex' as *;
@use './design-system/grid' as *;
@use './design-system/position' as *;

// Reset styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

.section {
    transition: all 0.3s;

    &:hover {
        background-color: rgba(255, 0, 0, 0.1);
    }
}