:root {
  --bg-color-dark: #bdd9e3;
  --bg-color: #fffce7;
  --bg-color-light: #e9f9ff;
  --text-color: #001b26;
  --text-color-dark: #00141c;
  --text-color: #001b26;
  --text-color-light: #002a3b;
  --accent-color: #00b7ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color-dark: #00141c;
    --bg-color: #001b26;
    --bg-color-light: #002a3b;
    --text-color-dark: #bdd9e3;
    --text-color: #fffce7;
    --text-color-light: #e9f9ff;
  }
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: var(--font-inter), Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
  min-height: 80dvh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}