.gridItem {
    position: relative;
    aspect-ratio: 1;
    border-radius: 0.7rem;
    border: 0.5px solid color-mix(in srgb, var(--text-color) 30%, transparent);
    transition: all 0.1s linear;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;


    &:hover {
        border: 1px solid color-mix(in srgb, var(--text-color) 80%, transparent);

        .iconCodeLink,
        .index,
        .tag {
            opacity: 1;
            transition: all 0.2s linear;
        }
    }
}

.iconCodeLink {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    width: 3.2rem;
    height: 3.2rem;
    padding: 1.2rem 0.6rem 0.6rem 1.2rem;
    opacity: 0.3;
}

.gridGuide {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;

    &:before {
        content: "";
        display: block;
        position: relative;
        height: 100%;
        width: 0px;
        top: -1px;
        left: calc(50% - 1px);
        border: 0.5px solid rgba(255, 0, 0, 0.3);
    }

    &:after {
        content: "";
        display: block;
        position: relative;
        height: 0px;
        width: 100%;
        left: -1px;
        bottom: calc(50% + 3px);
        border: 0.5px solid rgba(255, 0, 0, 0.3);
    }
}

.index {
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    opacity: 0.3;
}

.tag {
    position: absolute;
    bottom: 0.6rem;
    left: 0.6rem;
    opacity: 0.3;
}