.navContainer {
    background-color: color-mix(in srgb, var(--text-color) 10%, transparent);

    a {
        text-decoration: none;
    }

    .createButton {
        background-color: transparent;
        color: var(--text-color);
        border: 0.3px solid color-mix(in srgb, var(--text-color) 50%, transparent);
        padding: 0.5rem;
        border-radius: 0.4rem;
    }
}