.svg {
    display: block;
    cursor: pointer;
    overflow: visible;

    path {
        stroke: #ff0000; /* Default Off Color */
        transition: stroke 0.3s ease;
    }

    &.on {
        path {
            stroke: #00ff00; /* Default On Color */
        }
    }
}