.svg {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: rotate(180deg);
    /* border: 1px solid green; */

    rect {
        stroke: var(--text-color);
        fill: var(--text-color);
        transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
    }
}